/* Contact Box */
#contact {
	.sectionBoxes;

	.form {
		.flexBox(center);
	}
	
	.row {
		.flexBox(space-around);
		width: 100%;
		margin: 0 0 15px;
		border: 1px solid black;
	}

	input {
		margin: 5px;
	}

}